html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
}

main {
  padding: 0px;
  max-height: 85vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.header-nav {
  display: flex;
  gap: 10px;
}

.wrapper {
  text-align: center;
  margin: 20px;
}
