html, body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100%;
  background-color: white;
  overflow: hidden; 
  box-sizing: border-box; 
}

#app {
  height: 100%;
}

.nav-button {
  display: inline-block;
  background-color: #0288d1;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0277bd;
}