h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  
.event-item {
    background-color: #009EE2;
    border: 1px solid #ccd;
    border-radius: 8px;
    padding: 15px;
    margin: 5px 0;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    list-style-type: none;
}
  
.event-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
  
.event-details {
    padding: 0.5rem;
    font-size: 16px;
    color: #fff;
}
  
.event-details p {
    font-size: 18px;
}
  
p {
    margin: 0.2rem 0;
    color: #000;
    font-size: 14px;
}
  
.unregister-button,
.showQR-button,
.openFeedback-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.unregister-button {
    right: 10px;
}
  
.showQR-button {
    left: 8px;
}
  
.openFeedback-button {
    left: 10px;
    bottom: 60px;
}
  
.unregister-button:hover,
.showQR-button:hover,
.openFeedback-button:hover {
    background-color: #005FA3;
}
  
.unregister-button:active,
.showQR-button:active,
.openFeedback-button:active {
    background-color: #000000;
    transform: scale(0.98);
}
  
h2 {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
  
.empty-state {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: 20px;
}
  
.qr-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.qr-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.qr-modal img {
    max-width: 100%;
    margin-top: 10px;
}
  
.close-modal-button {
    background-color: #009EE2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}
  
.close-modal-button:hover {
    background-color: #007db8;
}
  
.download-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
    text-decoration: none;
}
  
.download-button:hover {
    background-color: #218838;
}
  
.download-button:active {
    background-color: #1e7e34;
    transform: scale(0.98);
}
  