.event-details {
  background-color: #009ee2;
  border: 1px solid #ccd;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

h2 {
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0.2rem 0;
}

.register-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.register-button:hover {
  background-color: #005fa3;
}
