.event-details {
  position: relative;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.5rem;
}

.trainer-avatar {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  z-index: 2;
}

.scrollableEventList {
  flex: 1;
  overflow-y: auto;
  position: relative;
  max-height: calc(100vh - 46vh);
  min-height: 0;
  contain: strict;
  padding-bottom: 20px;
}

.avatar-placeholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #009ee2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.trainer-avatar:hover .avatar-placeholder {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 158, 226, 0.3);
}

.trainer-avatar:active .avatar-placeholder {
  transform: scale(0.95);
}

.event-header-home {
  padding-right: 40px;
  margin: 0.5rem;
}

.event-header-home h2 {
  color: #005f8c;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  margin-top: 0.01rem;
}

.meta-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.6rem;
  margin-bottom: 0.2rem;
}

.meta-item,
.description,
.room-info {
  display: flex;
  align-items: left;
  font-size: 0.8rem;
}

.label {
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.value {
  color: #333;
}

.content-grid {
  display: grid;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.event-description p {
  margin: 0;
  line-height: 1.4;
  color: #444;
}

.event-tags {
  display: flex;
  flex-wrap: wrap;
  width: 67%;
  gap: 0.4rem;
  margin: 0.3rem 0;
}

.tag {
  background: #f0f8ff;
  color: #006699;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  border: 1px solid #006699;
  font-size: 0.75rem;
  font-weight: 500;
}

.register-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 6px 12px;
  margin-top: 5px;
  background-color: #01172f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  transform: none;
  align-self: flex-start;
  margin-left: auto;
  transition: background-color 0.3s;
}

.register-button svg {
  position: relative;
  top: -1px;
}

.register-button:hover {
  background: #009ee2;
  transform: translateY(-1px);
}

.icon-small {
  width: 1rem;
  height: 1rem;
  color: #009ee2;
  margin-right: 0.5rem;
}

.icon-tag {
  width: 0.75rem;
  height: 0.75rem;
  color: #006699;
  margin-right: 0.25rem;
}

.icon-button {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}
