.exchangeDayDetails {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #eaeaea;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  height: 85vh;
  overflow: hidden;
}

.exchangeDayHeader h1 {
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.exchangeDayContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  gap: 20px;
}

.description {
  flex: 2;
  font-size: 20px;
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.exchangeDayInfo {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: black;
}

.scrollableEvents {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 10px;
  margin-top: 20px;
}

h2 {
  font-size: 22px;
  color: #000000;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.event-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.event-item h3 {
  font-size: 18px;
  color: black;
  margin: 0 0 8px;
}

.event-item p {
  font-size: 14px;
  color: #000000;
  margin: 4px 0;
}