.exchangeDayDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.exchangeDayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #01172F;
  padding: 0 1rem 10px;
  margin-bottom: 0.5rem;
}

.exchangeDayHeader h1 {
  color: #005f8c;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.exchangeDayHeader h2 {
  color: #005f8c;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.2rem;
  margin-bottom: 0px;
  flex-grow: 1;
  text-align: left;
}

.manage-button {
  background: #01172F;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 600;
}

.manage-button:hover {
  background: #009ee2;
}

.exchangeDayContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: start;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column {
  height: 100%;
  position: sticky;
  top: 1rem;
}

.description {
  background: #f8f9fa;
  padding-left: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 0.95rem;
  line-height: 1.4;
  color: #444;
}

.info-container {
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.info-box {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.info-box:first-child::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 15%;
  height: 70%;
  width: 1px;
  background: #e0e0e0;
}

.info-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.info-header h4 {
  margin: 0;
  font-size: 15px;
  color: #009ee2;
}

.info-content {
  font-size: 13px;
  line-height: 1.4;
  color: #666;
}

.separator {
  width: 1px;
  background: #e0e0e0;
  margin: 0 0.5rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  color: #009ee2;
  margin-top: 0.3rem;
}

.event-title {
  margin: 0 1rem;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 15px;
  margin-top: 15px;
  width: 100%;
}

.event-details {
  position: relative;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  min-height: 90px;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.event-details h2 {
  color: #009ee2;
  font-size: 18px;
  margin-bottom: 10px;
}

.event-details p {
  margin: 5px 0;
  font-size: 14px;
}