.header-container {
  width: 100%;
  background-color: #f3f4f6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.sidebar-toggle {
  padding: 8px;
  cursor: pointer;
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.sidebar-toggle:hover .sidebar-icon {
  transform: scale(1.1);
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  margin-right: 2%;
  border: 2px solid #01172f;
  border-radius: 8px;
  background-color: #ffffff;
}

.user-label {
  font-size: 20px;
}

.logout-button {
  cursor: pointer;
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #f3f4f6;
  border: 1px solid #01172f;
  border-radius: 5px;
  font-size: 14px;
  color: #01172f;
}

.logout-button:hover {
  background-color: #e9ecef;
}
