html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.nav-right {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.home-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftSide {
  flex: 1 1 80%;
  padding: 20px;
  padding-top: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.rightSide {
  flex: 1 1 20%;
  background-color: #f7faf9;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.date-filter {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.scrollableEvents {
  flex-grow: 1;
  overflow-y: auto;
}

.upcoming-section,
.past-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  height: 50%; 
}

.upcoming-section > h2,
.past-section > h2 {
  position: sticky;
  top: 0;
  z-index: 5;
  margin: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #005f8c;
  background-color: white;
  padding: 10px 0;
  border-bottom: 2px solid #01172F; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 100%;
  display: block;
}

.upcoming-list,
.past-list {
  flex-grow: 1;
  overflow-y: auto;
}

.past-list {
  height: calc(100vh - 30vh);
}

.reset-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.reset-button:hover {
  background-color: #009ee2;
  color: white;
}