.scroll-container {
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1;
}

.date-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 10;
  padding: 10px 15px;
  width: 100%;
}

.date-filter .date-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.date-filter .date-range-separator {
  font-size: 16px;
  color: #333;
}

.date-filter input[type="date"] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.date-filter input[type="date"]:focus {
  border-color: #009ee2;
  box-shadow: 0 0 6px rgba(0, 158, 226, 0.5);
  outline: none;
}

.exchangeDay-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.list-item {
  padding: 10px;
  margin: 0.1rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
  color: #009ee2;
  font-size: 16px;
  border: 0;
  margin: 0.01rem 0.5rem;
}

.separator-exchange {
  border: 0;
  height: 1px;
  background-color: #009ee2;
  margin: 0.01rem 0.5rem;
}

.details {
  font-size: 13px;
  line-height: 1.5;
}

.date {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.location {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}