.scroll-container {
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
  height: 85vh;
}

.date-filter {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 0px 0;
}

.date-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.date-filter input {
  padding: 5px;
  font-size: 16px;
}

.exchangeDay-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
}

.list-item:hover {
  transform: scale(0.95);
}

.heading {
  display: flex;
  align-items: center;
  width: 120%;
  max-height: 10%;
}

.date-box {
  background-color: #333;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos {
  flex: 1;
}

.infos p {
  margin: 3px 0;
  font-size: 14px;
}
