.sidebar {
  height: 100vh;
  background-color: #01172F;
  overflow: hidden;
  transition: width 300ms ease-in-out;
  width: 65px;
  flex-shrink: 0;
}

.sidebar-visible {
  width: 200px !important;
}

.content {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);
  background-color: #01172F;
}

.menu {
  text-align: left;
  padding: 0 0.5rem;
  white-space: nowrap;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0.7rem 0;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: larger;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.menu-item:hover {
  color: #009ee2;
}

.menu-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  margin-right: 8px;
}

.home-icon {
  mask-image: url("@/assets/icons/home.png");
  -webkit-mask-image: url("@/assets/icons/home.png");
}

.planning-icon {
  mask-image: url("@/assets/icons/planning.png");
  -webkit-mask-image: url("@/assets/icons/planning.png");
}

.events-icon {
  mask-image: url("@/assets/icons/events.png");
  -webkit-mask-image: url("@/assets/icons/events.png");
}

.leaderboard-icon {
  mask-image: url("@/assets/icons/leaderboard.png");
  -webkit-mask-image: url("@/assets/icons/leaderboard.png");
}

.logout-icon {
  mask-image: url("@/assets/icons/logout.png");
  -webkit-mask-image: url("@/assets/icons/logout.png");
}

.login-icon {
  mask-image: url("@/assets/icons/login.png");
  -webkit-mask-image: url("@/assets/icons/login.png");
}

.menu-text {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition:
    opacity 300ms ease-in-out,
    visibility 300ms ease-in-out;
}

.sidebar-visible .menu-text {
  opacity: 1;
  visibility: visible;
}

.separator-side {
  border-top: 1px solid #fff;
  margin: 1rem 0.5rem;
}
